@import '../../styles/lib';

.container {
  min-width: 380px;
  padding-top: 50px;
  @include responsive(md) {
    padding-top: 100px;
  }
  @include responsive(lg) {
    padding-top: 150px;
  }

  .text {
    font-size: 0.9rem;
  }

  .body {
    margin: 0 auto;
    width: 340px;
  }

  .logo {
    max-height: 50px;
    text-align: center;
    img {
      max-height: 50px;
    }
  }

  .description {
    margin: 2rem 0;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
}
