.sign_up_message {
  padding-top: 8px;
  text-align: center;
}

.service_policy {
  float: right;
}

.sign_up_button {
  margin-top: 8px;
}

.captcha {
  svg {
    height: 46px;
    box-shadow: 1px 1px 7px #c4c4c4;
    vertical-align: top;
  }
}
