.sign_up_message {
  padding-top: 8px;
  text-align: center;
}

.service_policy {
  float: right;
}

.sign_up_button {
  margin-top: 8px;
}

.captcha {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 150px;
  height: 46px;
  vertical-align: top;
  svg {
    height: 44px;
    vertical-align: top;
  }
}

.reload {
  position: absolute !important;
  top: -20px;
  right: -7px;
  &:focus {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.65);
  }
}
